*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins",sans-serif;
}
body{
    background-color: rgb(232, 232, 232);
}
#navbar{
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: black;
    color: white;
    padding: 0 50px;
    height: 70px;
}
#logo{
    width: 50px;
    border-radius: 5px;
    margin-top: 3px;
}
#showData{
    width: 500px;
    height: 40px;
    border: none;
    outline: none;
    font-size: 18px;
    padding-left: 20px;
    border-radius: 5px;
}
#last{
    display: flex;
    justify-content: space-between;
    width: 20%;
}
#last>p>a{
    text-decoration: none;
    color: white;
    font-size: 18px;
}
#last>p>a:hover{
    color: rgb(235, 194, 194);
}
#main{
    display: grid;
    grid-template-columns: repeat(4,1fr);
    grid-template-rows: auto;
    gap: 20px 30px;
    margin: auto;
    margin-top: 30px;
    width: 90%;
    margin-bottom: 50px;
}
#main>div{
    width: 100%;
    padding-bottom: 20px;
    background-color: white;
    text-align: center;
    border-radius: 15px;
    font-size: 20px;
}
#main>div>img{
    width: 100%;
    margin-bottom: 20px;
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
}